<div class="d-flex align-items-stretch">
  <app-filter-side-bar
    [listCategoriesFilter]="listCategories"
    (filterArray)="changeCategory($event)"
  ></app-filter-side-bar>

  <div class="custom-main container p-3">
    <div class="custom-search">
      <!-- <app-searchbar
        (searchEvent)="addItem($event)"
        class="bar"
      ></app-searchbar>
      <app-btn-filter (click)="onClickBtn($event)"></app-btn-filter> -->
    </div>

    <div class="custom-slider">
      <!-- <ngx-slider
        [(value)]="min"
        [(highValue)]="max"
        [options]="options"
        (userChangeEnd)="displayItem($event)"
      ></ngx-slider> -->
    </div>

    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-xl-3 g-4">
      <div *ngFor="let product of listProductFiltered" class="col">
        <app-card-product [product]="product"></app-card-product>
      </div>
    </div>
  </div>
</div>
