<div *ngIf="product" class="overview d-flex align-items-stretch">
  <div class="custom-main container p-3">
    <div class="row">
      <h2>{{ product.name }}</h2>

      <img
        src="{{ product?.imageUrl }}"
        class="card-img"
        alt="image de {{ product?.name }}"
      />

      <div class="product-content">
        Avis :
        <!-- <app-avis-bar></app-avis-bar> -->
      </div>
      <div>
        <h2>Catégorie : {{ product.breadcrumb_label }}</h2>
      </div>
      <span class="align-bottom">Prix : {{ product?.unitPrice }} € </span>
      <div>
        <h2>Description :</h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed
          tincidunt felis, at pretium sem. Proin sit amet tortor mi. Cras augue
          ante, egestas dignissim eros vel, lacinia laoreet est. Nam eleifend
          auctor ante, vel vulputate ipsum rhoncus vel. Nam elementum efficitur
          ligula in pretium. Duis ut consectetur leo, vitae posuere nisl. Donec
          accumsan laoreet lorem. Cras id augue mattis sem tristique varius id
          sed nibh. Aenean sed iaculis eros. Curabitur sollicitudin egestas
          fermentum. Nunc felis lorem, rhoncus ornare lectus a, tincidunt
          efficitur sem. Phasellus vitae dui lacinia, porttitor arcu id, porta
          massa. Nam sit amet felis eget enim ultricies lobortis vitae nec elit.
          Integer quis vehicula eros, vitae varius tortor. Aliquam ante massa,
          ornare sed neque in, varius eleifend metus. Cras porta imperdiet elit,
          non fermentum risus scelerisque eget. Fusce vestibulum risus sed
          tortor posuere bibendum. Quisque pellentesque, nunc ac fringilla
          vestibulum, odio velit euismod ipsum, vitae eleifend nulla neque vitae
          diam. Suspendisse eleifend sed nisl quis semper. Nam eget accumsan
          massa. Duis gravida, mi a iaculis consequat, massa leo facilisis dui,
          non scelerisque lectus velit eget leo. Vivamus faucibus non eros
          venenatis lobortis. Integer rhoncus elementum neque, at facilisis nibh
          varius quis. Maecenas tincidunt dui ut velit tincidunt, non hendrerit
          est fermentum. Interdum et malesuada fames ac ante ipsum primis in
          faucibus. Vivamus commodo tortor arcu, sed tempor odio finibus sed.
          Integer ultricies orci enim, ut hendrerit tortor vehicula a. Donec ut
          nibh a nulla tincidunt bibendum eget at sapien. Cras tempus ornare
          velit non facilisis. Morbi luctus tincidunt magna, ut varius erat
          semper vel. In vitae sodales dolor. Pellentesque eget risus ex.
          Phasellus neque tortor, interdum quis metus eu, laoreet venenatis
          felis. Donec tristique quis lacus quis lobortis. Vivamus nec risus
          lacinia, pharetra ligula nec, viverra dolor. Praesent porttitor in dui
          sed malesuada. Phasellus rhoncus nunc quis lectus posuere tincidunt.
          Sed a egestas nulla. Vivamus tempus eros felis, a finibus tellus
          ultrices nec. Morbi nibh dolor, ornare ac suscipit et, condimentum vel
          tellus. Suspendisse rutrum nisl eu auctor ullamcorper. Cras et
          vehicula lectus. Donec vestibulum in erat eget efficitur. Mauris vitae
          mollis justo. Ut et sagittis ante. Praesent non lacinia quam. Maecenas
          felis odio, posuere at scelerisque in, tincidunt a dolor. Etiam porta
          tincidunt augue, at molestie erat congue a. Nulla condimentum nibh et
          odio dapibus, a blandit augue porta. Vestibulum fringilla sapien vitae
          sagittis pulvinar. Suspendisse tortor nibh, dignissim in ante quis,
          condimentum consequat neque. Curabitur id nunc ut felis imperdiet
          blandit in vitae massa. Fusce vestibulum nunc sodales lorem laoreet,
          sit amet rhoncus mi convallis. Donec molestie sem ligula, at pulvinar
          lacus finibus quis. Proin at nisl nibh.
        </p>
      </div>
      <div>
        <h4>Stock : {{ product.qty }}</h4>
      </div>
      <a href="#" class="btn btn-success">Ajouter au panier !</a>
    </div>
  </div>
</div>
