<div class=".form d-flex align-items-stretch">
  <div class="custom-main container p-3">
    <h1>Créez votre compte via ce formulaire !</h1>
    <form>
      <span>Entre votre nom : </span>
      <input type="text" placeholder="Nom" aria-label="Nom" />
      <span>Entre votre prénom : </span>
      <input type="text" placeholder="Prénom" aria-label="Prénom" />
      <span>Entre votre nom d'utilisateur : </span>
      <input
        type="text"
        placeholder="Nom d'utilisateur"
        aria-label="Nom d'utilisateur"
      />
      <span>Entre votre email : </span>
      <input type="text" placeholder="Email" aria-label="Email" />
      <span>Entre un mot de passe : </span>
      <input type="text" placeholder="Mot de passe" aria-label="mot de passe" />
      <a class="link" href="/login">Cliquez ici si vous avez un compte</a>
      <button class="btn">Créer mon compte</button>
    </form>
  </div>
</div>
