<div class="form d-flex align-items-stretch">
  <div class="custom-main container p-3">
    <h1>Connexion</h1>
    <form>
      <span>Entre votre email : </span>
      <input type="text" placeholder="Email" aria-label="Email" />
      <span>Entre votre mot de passe : </span>
      <input type="text" placeholder="Mot de passe" aria-label="mot de passe" />
      <a class="link" href="/signup">Cliquez ici pour créer un compte</a>
      <button class="btn" type="">Se connecter</button>
    </form>
  </div>
</div>
